[Unit]
Description=Slow Movie Player Service

[Service]
User=${USER}
WorkingDirectory=${HOME}/SlowMovie
ExecStart=/usr/bin/python3 ${HOME}/SlowMovie/slowmovie.py
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
