[Unit]
Description=Slow Movie Player Service

[Service]
User=${USER}
WorkingDirectory=/home/${USER}/SlowMovie
ExecStart=/usr/bin/python3 /home/${USER}/SlowMovie/slowmovie.py
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
