ffmpeg-python==0.2.0
Pillow>=9.1.0
ConfigArgParse==1.4.1
git+https://github.com/waveshare/e-Paper.git#subdirectory=RaspberryPi_JetsonNano/python&egg=waveshare-epd
git+https://github.com/robweber/omni-epd.git@v0.3.4#egg=omni-epd
