ffmpeg-python==0.2.0
Pillow==8.2.0
ConfigArgParse==1.4.1
git+https://github.com/waveshare/e-Paper.git#egg=waveshare-epd&subdirectory=RaspberryPi_JetsonNano/python
git+https://github.com/robweber/omni-epd.git@v0.2.4#egg=omni-epd
