name: Python Code Check

on: [push, pull_request, workflow_dispatch]

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: flake8 Linter
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      - name: flake8 Lint
        uses: py-actions/flake8@v1
        with:
          exclude: "Extras/"
          max-line-length: 120
